files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/59_set_tmp_permissions.sh":
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chown -R nodejs.nodejs /tmp/deployment
      chown -R nodejs.nodejs /tmp/.npm
      chown -R nodejs.nodejs /tmp/.config
  "/.npmrc":
    mode: "000744"
    owner: ec2-user
    group: ec2-user
    content: |
      #Force npm to run node-gyp also as root, preventing permission denied errors in AWS with npm@5 or @6
      unsafe-perm=true
